.App {
  text-align: center;
}

.ListaContainer{
  display:inline-flex;
  gap: 100px;
}

.ContainerButtons{
  display:flex;
  position: absolute;
  bottom: 100px;
  width: 100%;
  justify-content:space-evenly;
}

::-webkit-scrollbar {
  width: 6px;    
}



::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
}
